body {
    background-image: url("../../assets/images/giftly.png");
}

.center-align {
    display: block;
    margin-top: 50%;
}
/* =============================================================================

============================================================================= */
#user-form {
    margin-bottom: 50%;
}

#get-started-button {
    margin-bottom: 50%;
}
