.center-align {
    display: block;
    margin-top: 50%;
}
/* =============================================================================

============================================================================= */
#user-form {
    margin-bottom: 50%;
}
